.reg-form-container {
  width: 95%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
}

/* from related styles */

.form-partition {
  padding-left: 10px;
  padding-top: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.company-logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.topic {
  margin-top: 20px;
  font-family: var(--font-family-one);
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--accent-color-four);
  text-align: center;
}

.support-phrase {
  font-family: var(--font-family-one);
  font-size: 0.8rem;
  margin-top: 5px;
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
}

.line {
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: var(--secondary-color-one);
  opacity: 0.5;
}

.optionText {
  position: absolute;
  background-color: white;
  font-size: 0.8rem;
  color: var(--secondary-color-one);
  font-family: var(--font-family-one);
  padding: 0 5px;
}

.form-area {
  width: 90%;
}

.set {
  width: 100%;
  margin-top: 0.6rem;
}

.register-label {
  padding-left: 4px;
  margin-top: 0.4rem;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: var(--font-family-one);
}

.reg-error-displayer {
  height: 5px;
  width: 90%;
  font-size: 0.7em;
  padding-left: 10px;
  font-family: var(--font-family-one);
}

.register-input {
  margin-top: 3px;
  outline: none;
  width: 100%;
  font-size: 0.8rem;
  padding: 8px 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
}

.reg-error-displayer {
  height: 5px;
  width: 100%;
  font-size: 0.7em;
  font-family: var(--font-family-two);
}

.show {
  color: crimson;
}

.hide {
  color: transparent;
}

.register-btn {
  width: 100%;
  font-size: 1rem;
  text-transform: capitalize;
  border: none;
  font-family: var(--font-family-one);
  padding: 6px;
  border-radius: 6px;
  background-color: var(--ternary-color);
  color: var(--accent-color-two);
}

.register-btn:hover {
  cursor: pointer;
}

.register-btn:disabled {
  opacity: 0.6;
}

.link-register {
  text-align: center;
  font-size: 0.8rem;
  font-family: var(--font-family-one);
  margin-top: 0.2rem;
}

.login-connector {
  font-weight: 550;
  text-decoration: underline;
}

.login-connector:hover {
  cursor: pointer;
  color: var(--ternary-color);
}

/*stylings for small size screens */
@media only screen and (max-width: 576px) {
  .reg-form-container {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .company-logo-signin {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-partition {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .support-phrase {
    text-align: center;
  }

  .image-partiton {
    display: none;
  }

  .register-btn {
    margin-top: 20px;
  }
}

/*stylings for medium size screens */
@media only screen and (min-width: 577px) and (max-width: 968px) {
  .reg-form-container {
    justify-content: space-between;
    border-radius: 0 0 35px 0;
  }

  .form-partition {
    width: 45%;
    height: 100%;
    padding-left: 20px;
  }

  .image-partiton {
    width: 60%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 25px 0;
  }

  .register-btn {
    margin-top: 20px;
  }

  .link-register {
    margin-bottom: 20px;
  }
}

/*stylings for desktops and large size screens */
@media only screen and (min-width: 969px) {
  .reg-form-container {
    justify-content: space-evenly;
    border-radius: 0 0 35px 0;
  }

  .form-partition {
    width: 38%;
    height: 100%;
  }

  .image-partiton {
    width: 60%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 35px 0;
  }

  .register-btn {
    margin-top: 20px;
  }

  .link-register {
    margin-bottom: 20px;
  }
}
