.payment-success-container {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-placeholder-image {
  width: 350px;
}

.success-info-phrase {
  font-family: var(--font-family-one);
  font-size: 1.3em;
  color: var(--secondary-color);
  font-weight: 600;
}
