@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #92e3a9;
  --secondary-color: #0a2e36;
  --ternary-color: #14cc60;
  --reserve-color: #036d19;
  --accent-color-one: #c5c3c6;
  --accent-color-two: #dcdcdd;

  --font-family-one: "Roboto", sans-serif;
  --font-family-two: "Poppins", sans-serif;
  --font-family-three: "Just Another Hand", cursive;
  --font-family-four: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view-course-main-container {
  margin-left: 200px;
}

.view-course-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.view-content-row-first {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.view-content-row-two {
  height: fit-content;
  width: 85%;
  display: flex;
  padding: 10px;
}

.view-content-details-con-1 {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.course-image-with-details {
  width: 60%;
  background-size: cover;
}

.course-other-details {
  width: 35%;
  margin-right: 30px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px;
}

.course-name-text-cor {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-family-one);
}

.course-name-text-int {
  margin-top: 10px;
  margin-bottom: 10px;
}

.course-des-text {
  font-size: 16px;
  font-weight: 400;
  color: #5f5e5f;
  font-family: var(--font-family-two);
}

.course-price {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: flex-end;
  align-items: center;
}

.course-price-con {
  background-color: #0a2e36;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.course-price-tag {
  font-size: 30px;
  color: #dcdcdd;
}

.view-content-details-con-2 {
  height: fit-content;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.view-content-details-con-2-topic {
  margin-left: 10px;
  margin-top: 10px;
}

.view-content-details-con-2-topic-text {
  font-size: 26px;
  font-weight: 400;
  font-family: var(--font-family-two);
  display: flex;
}

.view-content-details-con-2-contents {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.view-content-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.view-content-list-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.view-content-list-item-image {
  width: 25%;
  height: 100%;
}

.view-content-list-item-details {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.play-icon-content {
  margin-right: 10px;
}

.view-content-dlt-con {
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-dlt-btn {
  transition: background-color 0.3s, transform 0.1s;
}

.content-dlt-btn:hover {
  transform: scale(1.5);
}

.skill-array-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.skill-array-item {
  width: fit-content;
  height: 40px;
  background-color: #92e3a9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.skill-item-text {
  font-size: 14px;
  color: #292828;
  font-family: var(--font-family-two);
}

.view-course-action-container {
  width: 40%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.view-course-btn-cont {
  width: 100px;
  height: 40px;
  background-color: #14cc60;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-course-update {
  font-size: 14px;
  color: #292828;
  font-family: var(--font-family-two);
}
