.dashboard-container {
  width: 100%;
  height: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.dashboard-sidebar {
  position: absolute;
  width: 220px;
  height: 100%;
  transition: 0.3s;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 3;
}

.hide-bar {
  transform: translateX(-80%);
}

.show-bar {
  transform: translateX(0);
}

.bar-content {
  width: 80%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

.sidebar-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
  width: 85%;
  text-decoration: none;
  color: var(--accent-color-one);
  transition: 0.3s;
}

.sidebar-link:hover,
.sidebar-link:active {
  color: var(--primary-color);
}

.sidebar-link-text {
  font-family: var(--font-family-two);
  font-size: 0.9em;
  text-align: center;
  margin-left: 10px;
}

.sidebar-link-icon {
  font-size: 1.5em;
}

.logout {
  margin-top: 60px;
}

.bar-activate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 30px;
  background-color: var(--secondary-color);
  border-radius: 0 4px 4px 0px;
  border: none;
}

.bar-activate-btn:hover {
  cursor: pointer;
}

.btn-visibility-icon {
  color: white;
  font-size: 1.7em;
}

.user-info-section {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.user-name {
  text-transform: capitalize;
  font-size: 1.2em;
  font-family: var(--font-family-one);
  color: var(--accent-color-two);
}

.user-role {
  text-transform: capitalize;
  font-size: 0.9em;
  font-family: var(--font-family-one);
  color: var(--ternary-color);
}

.user-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
